/*@font-face {*/
/*    font-family: 'courier';*/
/*    src: url('/fonts/Courier/CourierNewV1.eot');*/
/*    src: url('/fonts/Courier/CourierNewV1.eot?iefix') format('eot'),*/
/*    url('/fonts/Courier/CourierNewV1.woff') format('woff'),*/
/*    url('/fonts/Courier/CourierNewV1.ttf') format('truetype'),*/
/*    url('/fonts/Courier/Courier New V1.svg') format('svg');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {font-family: "arimo";*/
/*    src: url("/fonts/Arimo/arimo.svg");*/
/*    src: url("/fonts/Arimo/arimo.eot?#iefix") format("embedded-opentype"),*/
/*    url("/fonts/Arimo/arimo.woff2") format("woff2"),*/
/*    url("/fonts/Arimo/arimo.woff") format("woff"),*/
/*    url("/fonts/Arimo/arimo.ttf") format("truetype"),*/
/*    url("/fonts/Arimo/arimo.svg#Arimo") format("svg");*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {font-family: "arimo-bold";*/
/*    src: url("/fonts/Arimo/arimo.svg");*/
/*    src: url("/fonts/Arimo/arimo.eot?#iefix") format("embedded-opentype"),*/
/*    url("/fonts/Arimo/arimo.woff2") format("woff2"),*/
/*    url("/fonts/Arimo/arimo.woff") format("woff"),*/
/*    url("/fonts/Arimo/arimo.ttf") format("truetype"),*/
/*    url("/fonts/Arimo/arimo.svg#Arimo") format("svg");*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*}*/

.price-large-font {
    font-family: arimobold, ﻿courier, sans-serif;
}


.month {
    font-family: ﻿arimo, ﻿Courier, sans-serif;
}

th {
    font-family: arimobold, ﻿courier, sans-serif;
}

td {
    font-size: 16px;
    font-family: ﻿arimo, ﻿courier, sans-serif;
}


td {
    font-family: ﻿arimo, ﻿courier, sans-serif;
}


.position {
    height: 100vh;
    position: relative;
}

table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    text-align: center;
    width: 1172px;
    height: 686px;
    text-transform: uppercase;
    border-top: 22px solid #3a4965;
    border-left: 22px solid #3a4965;
    border-right: 30px solid #3a4965;
    border-bottom: 31px solid #3a4965;
}

tr, td, th {
    height: 70px;
    box-shadow: 2px 0px 1px 0px #d3d3d3;

}

th:nth-child(2) {
    border-left: 1px solid #d3d3d3;
}

th {
    background-color: #fafafa;
}

tr:nth-child(2) {
    background-color: #fafafa;
}

th {
    border: none;
    }

tr:nth-child(n+2) {
    font-size: 16pt;
}


th:nth-child(n+2) {
    color: white;
}

th:nth-child(2) {
    font-size: 24px;
    background-color: #89c331;
}

th:nth-child(3) {
    font-size: 30px;
    background-color: #f04a56;
}

th:nth-child(4) {
    font-size: 24px;
    background-color: #20807c;
}

tr:nth-child(2n+4) {
    background-color: #e3e3e3;

}

tr:nth-child(2n+3) {
    background-color: #f2f2f2;

}


.plan {
    font-size: 30px;
    text-transform: uppercase;
}

button {
    border: none;
    border-radius: 6px;
    margin: 30px 42px;
    width: 192px;
    height: 50px;
    color: white;
    text-transform: uppercase;
    outline: none;
    transition: all 0.8s ease;
    cursor: pointer;
    font-family: arimobold, ﻿courier, sans-serif;
}


td:nth-child(n+1) button:hover {
    color: black;
    background-color: #f2f2f2;
    font-size: 22px;
    border-bottom: 2px solid white;
    border: 2px solid #484848;
    box-shadow: 0 0 0 0;

}

td:nth-child(1) button {
    background-color: #484848;
    border-bottom: 2px solid #404040;
    box-shadow: inset 0 -14px 0 -7px #404040;
}

td:nth-child(2) button {
    background-color: #89c331;
    border-bottom: 2px solid #79b027;
    box-shadow: inset 0 -14px 0 -7px #79b027;

}

td:nth-child(3) button {
    background-color: #f04a56;
    border-bottom: 2px solid #df3a46;
    box-shadow: inset 0 -14px 0 -7px #df3a46;

}

td:nth-child(4) button {
    background-color: #20807c;
    border-bottom: 2px solid #16736f;
    box-shadow: inset 0 -14px 0 -7px #16736f;

}

i {
    color: #848484;
    padding-right: 12px;
}

p {
    display: inline-block;
}

.price-large {
    margin: 18px 0;
    position: relative;
    font-size: 65px;
    display: inline-block;

}

.price-large::before {
    content: "$";
    font-size: 65px;
    font-family: arimobold, ﻿courier, sans-serif;
}

.super {
    line-height: 1;
    font-size: 24px;
    text-align: left;
}

.month {
    display: inline-block;
    padding-top: 10px;
    font-size: 18px;
  }




