
.position {
    height: 100vh;
    position: relative;
}

table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 22px solid #3a4965;
    border-left: 22px solid #3a4965;
    border-right: 30px solid #3a4965;
    border-bottom: 31px solid #3a4965;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 1140px;
    text-transform: uppercase;
    background-color: white;
}
td:nth-child(1) {
    box-shadow: none;
}
td {
    box-shadow:0px -1px 1px 0px #cacaca;
    box-sizing: border-box;
}

td:nth-child(even) ,
th:nth-child(even) {
    background-color: #e3e3e3;
}

td:nth-child(2n+3) ,
th:nth-child(2n+3) {
    background-color: #f2f2f2;
}


td:nth-child(1) {
    border: none;
}

tr:nth-child(n+2) {
    height: 167px;
}
.choose {
    font-size: 14px;
}

.pl {
    font-size: 20px;
}

.plan {

    display: inline-block;
    padding-top: 8px;
    font-size: 20px;
}

th:nth-child(1) {
    height: 113px;
    width: 200px;
}

th {
    font-family: arimobold, ﻿courier ,sans-serif;
    width: 157px;
}

tr:nth-child(1) {
     font-family: arimobold, courier ,sans-serif;
 }
td:nth-child(1) {
    font-family: arimobold, courier ,sans-serif;
}

.dol {
    font-size: 36px;
}

sup {
font-size: 18px;
}

.month {
    font-size: 14px;
}

.standard {
    line-height: 40px;
    color: white;
    font-size: 24px;
    background-color:  #89c331;
    height: 167px;
}

.ultimate {
    line-height: 40px;
    color: white;
    font-size: 24px;
    background-color: #f04a56;
    height: 167px;
}

.premium {
    line-height: 40px;
    color: white;
    font-size: 24px;
    background-color: #20807c;
    height: 183px;
}

button {
    font-family: arimobold, ﻿courier ,sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    outline: none;
    padding: 15px 34px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #414141;
    border-bottom: 2px solid #343434;
    box-shadow:inset 0 -14px 0 -7px #343434;
    transition: 1s;
}

button:hover {
    padding: 12px 32px;
    font-size: 18px;
    color: black;
    background-color: white;
    box-shadow: 0 0 0 0;
    border-bottom: 2px solid white;

}

td:nth-child(2) {
    font-family: ﻿arimo, ﻿courier, sans-serif;
    line-height: 7px;
    font-size: 16px;
}

td:nth-child(n+2) {
    font-family: ﻿arimo, courier, sans-serif;
}

i {
    color: #848484;
 }