@font-face {
    font-family: 'courier';
    src: url('/Courier/CourierNewV1.eot');
    src: url('/Courier/CourierNewV1.eot?iefix') format('eot'),
    url('/Courier/CourierNewV1.woff') format('woff'),
    url('/Courier/CourierNewV1.ttf') format('truetype'),
    url('/Courier/Courier New V1.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family: "arimo";
    src: url("Arimo/arimo.svg");
    src: url("Arimo/arimo.eot?#iefix") format("embedded-opentype"),
    url("Arimo/arimo.woff2") format("woff2"),
    url("Arimo/arimo.woff") format("woff"),
    url("Arimo/arimo.ttf") format("truetype"),
    url("Arimo/arimo.svg#Arimo") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arimobold';
    src: url('Arimo-bold/Arimo-Bold-webfont.eot');
    src: url('Arimo-bold/Arimo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('Arimo-bold/Arimo-Bold-webfont.woff2') format('woff2'),
    url('Arimo-bold/Arimo-Bold-webfont.woff') format('woff'),
    url('Arimo-bold/Arimo-Bold-webfont.ttf') format('truetype'),
    url('Arimo-bold/Arimo-Bold-webfont.svg#arimobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

